.sectionTbl {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 1% 5%;
}
.badge {
  padding: 1%;
}
.table {
  direction: rtl;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: rgba(150, 193, 241, 0.418);
  color: black;
}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: rgba(188, 213, 241, 0.418);
  color: black;
}

.table-striped > thead {
  background-color: rgba(45, 149, 235, 0.521);
  color: black;
}
