.loginBox {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slidebg 15s ease 0s infinite;
  animation-direction: alternate-reverse;
  background-image: url("./img/bg1.jpg");
}
@keyframes slidebg {
  0% {
    background-image: url("./img/bg1.jpg");
  }
  50% {
    background-image: url("./img/bg2.jpg");
  }
  100% {
    background-image: url("./img/bg3.jpg");
  }
}
.loginForm {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  padding: 120px 40px;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 50vh;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-logo {
  width: 30%;
  height: 30%;
  overflow: hidden;
  position: absolute;

  transform: translate(0, -50%);
  top: 0;
  left: 35%;
}

.loginBox input[type="text"] {
  width: 100%;
  margin-bottom: 3%;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;

  color: rgb(255, 255, 255);
  font-size: 20px;
}
::placeholder {
  color: rgba(190, 253, 255, 0.651);
  font-size: 18px;
}
.btnSubmit {
  border: none;
  outline: none;
  color: #ebf5ff;
  font-weight: 400;
  height: 20%;
  min-height: 40px;
  width: 30%;
  text-align: center;
  font-size: 22px;
  background: #0270ff;
  cursor: pointer;
  margin-top: 15%;
  border-radius: 5px;
}
.btnSubmit:hover {
  color: #ebf5ff;
  background: #0067ee;
  font-weight: 400;
  font-size: 22px;
}
