.loginBox {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: url("./img/bg.jpeg");
  background-size: cover;
}
.loginForm {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  padding: 120px 40px;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 50vh;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-logo {
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: absolute;
  top: calc(-100px / 2);
  left: calc(50% - 50px);
}

.inputField {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
::placeholder {
  color: rgb(133, 148, 132);
}
.btnSubmit {
  border: none;
  outline: none;
  color: #ebf5ff;
  font-weight: 400;
  height: 50px;
  width: 100px;
  text-align: center;
  font-size: 22px;
  background: #0270ff;
  cursor: pointer;
  margin-top: 60px;
  border-radius: 5px;
}
.btnSubmit:hover {
  color: #ebf5ff;
  background: #0067ee;
  font-weight: 400;
  font-size: 22px;
}
