@font-face {
  font-family: Sahel;
  src: url("http://fonts.codearena.ir/rastikerdar/sahel/sahel.eot");
  src: url("http://fonts.codearena.ir/rastikerdar/sahel/sahel.eot?#iefix")
      format("embedded-opentype"),
    url("http://fonts.codearena.ir/rastikerdar/sahel/sahel.woff") format("woff"),
    url("http://fonts.codearena.ir/rastikerdar/sahel/sahel.ttf")
      format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: Sahel;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}
html {
  font-family: Sahel;
  position: relative;
  min-height: 100%;
}

code {
  font-family: Sahel, monospace;
}
