* {
  direction: rtl;
  text-align: right;
}

.form {
  display: inline;
}
.badge {
  padding: 1%;
}
.user-card {
  width: 100%;
  height: 50vh;
}
.user-card-body {
  margin: 0.5%;
}
.rounded-circle {
  padding: 0 0.5%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
