@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
body {
  overflow: hidden;
}
.userTbl {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 1% 5%;
}
.badge {
  padding: 1%;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: rgba(150, 193, 241, 0.418);
  color: black;
}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: rgba(188, 213, 241, 0.418);
  color: black;
}

.table-striped > thead {
  background-color: rgba(45, 149, 235, 0.521);
  color: black;
}

.btnUserToggle {
  position: relative;
  background: rgba(255, 255, 255, 0.808);
  width: 30px;
  margin: 0;
}
.spanUserToggle {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
i {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
}
.iUserToggle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(8, 175, 83);
  text-shadow: 0 0 15px #fff;
  font-size: 20px;
}
.userToggleCheckBox {
  -webkit-appearance: none;
}

.userToggleCheckBox:checked ~ .iUserToggle {
  color: tomato;
}
